@font-face {
    font-family: "GardensC";
    src: url("fonts/GardensC.otf");
}

* {
    font-family: "GardensC";
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    box-sizing: border-box;
}

label {
    margin: 0 !important;
}

body {
    position: relative;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

section.panel {
    width: 100%;
    padding: 0 130px;
}

section.panel#useful-info {
    padding: 0 5vw;
}

.section-title {
    font-size: 50px;
    color: #3d67b0;
    text-align: center;
}

.text-upper {
    text-transform: uppercase;
}

.site-name {
    font-size: 80px;
}

.btn-order {
    background: #fff;
    color: #3d67b0;
    padding: 15px 25px;
    border: solid 2px #fff;
    border-top: none;
    border-radius: 0 0 20px 20px;
    transition: .5s ease-in-out;
}

.btn-order:hover {
    background: transparent;
    color: #fff;
}

.btn-white-big {
    background-color: #fff;
    color: #3d67b0;
    padding: 10px 45px;
    border: solid 2px #fff;
    border-radius: 10px;
    transition: .5s ease-in-out;
}

.btn-white-big:hover {
    background-color: transparent;
    color: #fff;
}

.btn-slider {
    width: 50px;
    padding: 5px;
    background: transparent;
}

.btn-slider:focus {
    box-shadow: none;
}

.delimiter {
    width: 100%;
}

.btn.btn-primary {
    background: #3d67b0 !important;
    border: #3d67b0 !important;
}

.form-control {
    border-radius: 10px;
    padding: 10px 20px;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.btn-up {
    position: fixed;
    right: 25px;
    bottom: 25px;
    Z-index: 110;
    padding: 15px;
}

.btn-up img {
    width: 25px;
}

section#first-page {
    height: 65vw;
    color: #fff;
    background-image: url("../img/first-page-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section#first-page>header {
    width: 100%;
    color: #fff;
}

section#first-page .logo img {
    width: 100px;
}

section#first-page .contact>.item p {
    font-size: 12px;
}

section#first-page .contact>.item img {
    width: 25px;
    margin-right: 15px;
}

section#first-page .nav {
    list-style-type: none;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}

section#first-page .nav li {
    padding-left: 35px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

section#first-page .nav li:first-of-type {
    padding-left: 0;
}

section#first-page .nav li::after {
    content: "";
    height: 3px;
    width: 0;
    background-color: #fff;
    transition: .5s ease-in-out;
}

section#first-page .nav li:hover::after {
    width: 50%;
}

section#advantages {
    background: transparent;
    height: 35vw;
    padding-bottom: 50px;
    padding-top: 50px;
}

section#advantages .item {
    padding-top: 30px;
    height: 500px;
    width: 500px;
    transform: scale(.6);
    transition: .3s ease-in-out;
    user-select: none;
    background-color: white;

}

section#advantages .item:hover {
    transform: scale(.7);
}

section#advantages .item img {
    padding-left: 22%;
    /* Позор, конечно, но иначе выровнять пока не удалось. */
    height: 250px;
    width: auto;
}

section#advantages .item p {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

section#about-us {
    color: #fff;
    margin-bottom: 100px;
    height: 150vh;
    background: url("../img/about-us-bg.png") center no-repeat;
    background-position: center;
    background-size: cover;
}

section#partners .item {
    font-size: 50px;
    cursor: default;
    z-index: -1;
    top: 0;
    left: 0;
    background: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transform: translateX(-100%);
    transition-duration: .45;
    opacity: 1;
}

section#partners .item p {
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: #c5c5c5;
}

section#partners .item:hover {
    color: #3d67b0;
}

section#partners input[type="radio"] {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
}

section#partners input[type="radio"]:checked+.partners-label {
    border: solid 1px #3d67b0;
    background-color: #3d67b0;
}

section#partners input[type="radio"]:checked~.item {
    transform: translateX(100%);
}

section#partners input[type="radio"]:checked+.partners-label+.item {
    transform: translateX(0);
    opacity: 1;
}

section#partners .partners-label {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 1px #e0e0e0;
    cursor: pointer;
    margin: 6px !important;
    transition: .5s ease-in-out;
}

section#partners #brand-container {
    overflow: hidden;
    position: relative;
}

section#consultants {
    margin-bottom: 50px;
    margin-top: 50px;
}

section#consultants .item {
    height: 100%;
    width: 50%;
}

section#consultants .item img {
    height: 200px;
}

section#consultants .item .item-title {
    color: #3d67b0;
    margin-top: 15px;
    font-size: 25px;
}

section#consultants .item .item-description {
    margin-top: 5px;
    font-size: 17px;
}

section#about-segway {
    margin-top: 150px;
    position: relative;
}

section#about-segway .section-image {
    height: 20vw;
}

section#about-segway .title {
    font-size: 30px;
    color: #3d67b0;
}

section#about-segway .title img {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 30px;
}

section#about-segway ol {
    margin-top: 25px;
    font-weight: bold;
    margin-left: 25px;
}

section#catalog {
    padding-top: 100px;
}

section#catalog .categories {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    align-content: center;
}

section#catalog .categories ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

section#catalog input[type="radio"] {
    position: absolute;
    opacity: 0;
}

section#catalog #giroscooters:checked~.categories #giroscooters-tab,
section#catalog #electric_scooters:checked~.categories #electric_scooters-tab,
section#catalog #segways:checked~.categories #segways-tab,
section#catalog #all:checked~.categories #all-tab {
    color: #fff;
    background: #3d67b0;
}

section#catalog #giroscooters:checked~.panels .c-giroscooter,
section#catalog #electric_scooters:checked~.panels .c-electric_scooter,
section#catalog #segways:checked~.panels .c-seagway,
section#catalog #all:checked~.panels .c-card {
    display: flex;
}

section#catalog .categories {
    display: flex;
    justify-content: center;
}

section#catalog .categories li {
    margin: 10px;
}

section#catalog .categories li label {
    display: inline-block;
    user-select: none;
    padding: 15px 25px;
    border: solid 2px #3d67b0;
    border-radius: 30px;
    cursor: pointer;
    color: #3d67b0;
    transition: .5s ease-in-out;
}

section#catalog .catalog-container {
    display: none;
}

section#catalog .catalog-container .c-card {
    width: 320px;
    border: solid 1px #e1e1e1;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 25px 10px;
}

section#catalog .catalog-container .c-card img {
    width: 90%;
    margin-top: 25px;
}

section#catalog .catalog-container .c-card .type span {
    display: inline-block;
    border-radius: 5px;
    background: #3d67b0;
    color: #fff;
    padding: 1px 7px;
    margin: 0 15px;
}

section#catalog .catalog-container .c-card .price-container {
    padding: 0 15px;
    margin-top: 15px;
}

section#catalog .catalog-container .c-card .price-container .price {
    color: #3d67b0;
    font-size: 20px;
}

section#useful-info {
    margin-top: 10vw;
    margin-bottom: 10vw;
}

section#useful-info .u-content {
    margin-top: 80px;
}

section#useful-info .content .item {
    width: 100%;
    height: 100%;
}

section#useful-info .content .item img.item-img {
    object-fit: cover;
    border-radius: 20px;
    width: 20vw;
}

section#useful-info .content .item img.item-fire {
    width: 2vw;
}

section#useful-info .content .item .title {
    font-size: 2vw;
    color: #3d67b0;
    margin: 1vw 0;
}

section#useful-info .content .item .information {
    font-size: calc(0.5vw + 1vh);
}

section#sub {
    height: 70vw;
    margin-bottom: 15vh;
    background: url("../img/sub-bg.png") center no-repeat;
    background-size: cover;
}

footer {
    height: 30vh;
    width: 100%;
    position: absolute;
    z-index: 100;
    top: calc(100% - 5vh);
    left: 0;
}

footer .nav {
    list-style-type: none;
    display: flex;
    color: #3d67b0;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

footer .nav li {
    padding-left: 35px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

footer.nav li:first-of-type {
    padding-left: 0;
}

footer .nar li::after {
    height: 3px;
    width: 0;
    background-color: #3d67b0;
    transition: .5s ease-in-out;
}

footer .nav li:hover::after {
    width: 50%;
}

footer .footer-logo img {
    width: 250px;
}

footer .contact>.item p {
    font-size: 12px;
}

footer .contact>.item img {
    width: 25px;
    margin-right: 15px;
}

footer .social-icons img {
    width: 35px;
    cursor: pointer;
}

div#Card-1 {
    display: block;
}

div#Card-2:not(:target) {
    display: none;
}

div#Card-2:target {
    display: block;
}

div#Card-3:not(:target) {
    display: none;
}

div#Card-3:target {
    display: block;
}

div#Card-4:not(:target) {
    display: none;
}

div#Card-4:target {
    display: block;
}

div#Card-2.item:target~div#Card-1.item,
div#Card-3.item:target~div#Card-1.item,
div#Card-4.item:target~div#Card-1.item {
    display: none;
}

img.slider-button {
    margin-top: 30px;
    background-color: white;
    max-height: 70px;
}